.buttons {
    display: flex;
    justify-content: space-between;
}

.disabled {
    color: #bbb;
}

.option {
    background: aliceblue;
    margin: 4px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    border-radius: 16px;
}

.option-input {
    align-content: center;
    display: flex;
    gap: 16px;
}

.option-input > input {
    flex-grow: 0;
    margin-bottom: 0;
}

.option-input > label {
    flex-grow: 1;
    margin-bottom: 0;
}

.option.checked {
    background: #c3e6fb;
}

.option:hover {
    box-shadow:inset 0px 0px 0px 2px #c3e6fb;
}

.option.checked > label {
    font-weight: bold;
}

.checkup {
    color: #40A3BB;
}